<%- include ('partials/_header') %>
<nav class="navbar navbar-dark bg-dark mb-4 navbar-hover">
    <a href="/" class="navbar-brand">
        Proveedores - Sodimac
    </a>

    <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="buscar" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

</nav>
<div class="container">
    <h1>Proveedores</h1>
    <div class="row">

        <pre>
            <!-- <%- tasks %> -->
        </pre>


        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <form action='/add' method="POST">
                        <div class="form-group mb-2">
                            <input type="text" name="title" class="form-control" placeholder="Ingresa id proveedor"></>
                        </div>
                        <div class="form-group mb-2">
                            <textarea type="text" cols="80" name="description" class="form-control" placeholder="Ingresa nit proveedor"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <input type="text" cols="80" name="status" class="form-control" placeholder="Ingresa estado"></>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Agregar</button>
                        <button type="reset" class="btn btn-outline-primary">Limpiar</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- listado -->
        <div class="col-md-7">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nro.</th>
                        <th>Titulo</th>
                        <th>Descripcion</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0; i < tasks.length; i++) { %>
                        <tr>
                            <td><%= i +1 %></td>
                            <td><%= tasks[i].title%></td>
                            <td><%= tasks[i].description%></td>
                            <td>
                                <a href="" class="btn btn-dark">Hecho</a>
                                <a href="" class="btn btn-danger">-</a>
                                <a href="" class="btn btn-info">+</a>
                                <a href="" class="btn btn-warning">update</a>
                            </td>
                        </tr>
                        <% }; %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ('partials/_footer') %>